@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #252525;
  --foreground: #f2f2f2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
